.Card {
    width: 200px;  
    height: 200px;  

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    
    border-radius: 10px;
    border: 1px solid #8181813b;
    transition: 200ms;

    cursor: pointer;
}

.Card:hover {
    transform: scale(1.02);
}

.Card > img {
    width: 100%;
    height: 150px; 
    border-radius: 10px 10px 0 0;
}