.GuidesNav{
    background-color: #f7f7f7;
    border-left: 1px solid #ececec;

    width: 280px;
    display: none;
}

@media (min-width: 780px) {
    .GuidesNav{
        min-width: 260px;
    }
}

@media (min-width: 700px) {
    .GuidesNav{
        display: flex;
    }
}